.navbar {
    background: white;
    position: sticky;
    top: 0;
    padding: 1em;

    .container {
        display: grid;
        grid-template-columns: 100px 110px;
        place-content: space-between;
    }

    .logo {
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: 1.2em;
        width: 80px;

        span {
            color: $primaryColor;
        }
    }

    .back {
        &:visited { color: $primaryColor; }
    }

    a {
        text-decoration: none;
        font-size: 1.1em;
        text-align: right;
        vertical-align: middle;

        img {
            width: 19px;
            margin-right: .3em;
            vertical-align: middle;
        }
    }
}