@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import "./variables";
@import "./navbar";
@import "./opening";
@import "./hero";

body {
    background: $bodyBackground;
    margin: 0;
    font-family: 'Poppins';
}

section {
    padding: 1em 2em;
}

@media only screen and (min-width: 808px) {
    section.opening {
        .container {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            gap: 20px;
            grid-auto-rows: 125px;
            grid-template-areas:
            "a a a a a a a a"
            "b b b b c c c c"
            "b b b b c c c c"
            "b b b b c c c c";
    
            .header {
                grid-area: a;
            }
    
            .table-of-contents {
                grid-area: c;
                margin: auto;
            }
            
            .image {
                grid-area: b;
                align-self: center;
            }
        }
    }

    section.hero {
        .items {
            p {
                text-align: justify;
            }

            img {
                display: flex;
                margin: 4em auto;
                width: 65%;
            }
        }
    }
}

@media only screen and (min-width: 1080px) {
    .container {
        max-width: 1080px;
        margin: 0 auto;
    }
}